  main.main .box {
    border-radius: 10px;
    margin: 10px 5px;
    background-color: #fff;
  }
  
  main.main .icone-obrigatorio {
    color: red;
  }
  
  /* Box Cabecalho*/
  main.main .header-box {
    background-color: rgb(96, 53, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    font-size: 0.8rem;
  }
  
  /* Box Corpo*/
  main.main .body-box {
    font-size: 0.8rem;
    height: 300px;
    padding: 20px;
  }
  
  main.main .form-control-sm {
    border: solid 1px #ddd;
  }
  
  /* Box Footer*/
  main.main footer.footer {
    height: 40px;
  }
  
  main.main .footer-box {
    min-height: 25px;
    color: #fff;
    font-size: 0.7rem;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(96, 53, 212);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  